@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
  height: 100%;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (min-width: 1px) and (max-width: 768px) {
  .movie-card-sizes {
    width: 46.5%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .movie-card-sizes {width: 31.5%;}
}

@media (min-width: 1025px) and (max-width: 1660px) {
  .movie-card-sizes {width: 23.75%;}
}

@media (min-width: 1661px) and (max-width: 1920px) {
  .movie-card-sizes {width: 15.9%;}
}

@media (min-width: 1921px) {
  .movie-card-sizes {width: 9%;}
}

@media (max-width: 301px) {
  .movie-card-sizes {width: 98%;}
}

@media (min-width: 1px) and (max-width: 1024px) {
  .list-card-sizes {width: 45%;}
}

@media (min-width: 1025px) and (max-width: 1660px) {
  .list-card-sizes {width: 32%;}
}

@media (min-width: 1661px) and (max-width: 1920px) {
  .list-card-sizes {width: 24.25%;}
}

@media (min-width: 1921px) {
  .list-card-sizes {width: 16%;}
}

.rac-title-text {
  margin: 0 !important;
}

.login-logo {
  background: linear-gradient(to bottom right, #7f22fe, #1b183d);
  border-radius: 15%;
  background-size: 200% 200%;
  animation: flow 6s ease-in-out infinite alternate;
}

@keyframes flow {
  0% {background-position: 0% 0%;}
  100% {background-position: 100% 100%;}
}

.loading-dots {
  display: inline-flex;
  gap: 5px;
  padding-left: 0.25em;
  padding-bottom: 0.25em;
  height: 100%;
  align-items: end;
  padding-bottom: 0.5%;
  transition: 300ms opacity;
}

.loading-dots i {
  width: 0.25em;
  height: 0.25em;
  background: currentColor;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.loading-dots i:nth-child(1) {animation-delay: 0s;}
.loading-dots i:nth-child(2) {animation-delay: .2s;}
.loading-dots i:nth-child(3) {animation-delay: .4s;}

@keyframes blink {
  0%   {opacity: .2;}
  20%  {opacity: 1;}
  100% {opacity: .2;}
}

.hamburger-icon {
    display: none;
    position: relative;
    transition: 300ms ease-in-out, 300ms border;
    border: 2px solid transparent;
    border-radius: 25%;
    cursor: pointer;

    @media (max-width: 1024px) {
        display: flex;
    }
}

.hamburger-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #99a1af;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.hamburger-icon:hover span {
  background: white;
}

.hamburger-icon span:nth-child(1) {
  top: 0px;
}

.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
  top: 9px;
}

.hamburger-icon span:nth-child(4) {
  top: 18px;
}

.hamburger-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.hamburger-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger-icon.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.rac-multiple-selected-option {
  padding: 0.25em;
}

.perspective-1000 {
    perspective: 1000px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1e2939;
}

*::-webkit-scrollbar-thumb {
  background: #641aca;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #7f22fe;
}


body {
  height: 100%;
  background-color: #030712;
}

.rac-select-option, .rac-options {
  border-radius: 10px;
  z-index: 1000 !important;
}

.options {
  z-index: 1000;
}

.rac-select-arrow-wrapper {
  color: #99a1af;
  transition: 300ms opacity, 300ms color, transform var(--rac-duration-base) cubic-bezier(.4, 0, .2, 1), 300ms padding var(--rac-duration-fast) !important;
}

.list-select-list .rac-select-option {
  text-overflow: ellipsis;
  margin: 0.5em 0.25em;
  text-wrap: nowrap;
  overflow: hidden;
}

.rac-select:hover .rac-select-arrow-wrapper,
.rac-select:focus .rac-select-arrow-wrapper {
  color: white;
}

.rac-select-cancel {
  color: #99a1af;
  transition: 300ms opacity, 300ms color !important;
}

.rac-select-cancel:hover {
  color: rgb(251, 41, 51);
}

.rac-select:has(.rac-select-cancel:hover) .rac-select-arrow-wrapper {
  color: #99a1af;
}

.--animated-error {
    animation: shake-error 300ms;
    border: 0.1vw solid #a60000;
    transition: 300ms border;
}

.--animated-error:focus {
    border: 0.1vw solid #a60000;
}

@keyframes shake-error {
  0% {transform: translateX(0)}
  20% {transform: translateX(-5px)}
  40% {transform: translateX(5px)}
  60% {transform: translateX(-5px)}
  80% {transform: translateX(5px)}
  100% {transform: translateX(0)}
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 600px;
  padding-top: 50px;
}

.disappearing-block {
  border-radius: 10px;
  
  animation: 
    rotate-around 1s linear infinite,
    collapse 0.5s forwards 3s;
}

@keyframes rotate-around {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes collapse {
  to {
    height: 0;
    opacity: 0;
    transform: rotate(360deg) scale(0);
  }
}

.appearing-wrapper {
  perspective: 1200px;
}

.appearing-block {
  width: 250px;
  border-radius: 15px;
  
  opacity: 0;
  height: 0;
  overflow: hidden;

  animation: mirrorFlip 0.8s ease-out forwards;
}

@keyframes mirrorFlip {
  0% {
    opacity: 0;
    height: 0;
    transform: rotateY(-180deg) translateZ(-200px);
  }
  60% {
    opacity: 1;
    height: 500px;
    transform: rotateY(20deg);
  }
  100% {
    opacity: 1;
    height: 500px;
    transform: rotateY(0deg) translateZ(0);
  }
}

.icon-fade {
  filter: blur(0);
  opacity: 1;
}

.icon-fade-enter {
  opacity: 0;
  filter: blur(10px);
}

.icon-fade-enter-active {
  opacity: 1;
  filter: blur(0);
  transition: opacity 700ms, filter 700ms;
}

.icon-fade-exit {
  opacity: 1;
  filter: blur(0);
}

.icon-fade-exit-active {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 700ms, filter 700ms;
}
